.skeleton__img {
  width: 600px;
  height: 148px;
  max-width: 100%;
  background-color: lightgray;
}

.skeleton__profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: lightgray;
  border: solid 5px #ffffff;
}

.skeleton__description--wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skeleton__title{
  display: inline-block;
  align-content: center;
  border-radius: 2px;
  height: 12px;
  width: 60px;
  background-color: lightgray;
}

.skeleton__code{
  display: inline-block;
  border-radius: 2px;
  height: 12px;
  width: 40px;
  background-color: lightgray;
}